.idea
/venv
fraud-detection-indepth-eda-and-model-building.ipynb
/.ipynb_checkpoints/Alalysis-checkpoint.ipynb
/.ipynb_checkpoints/
/.ipynb_checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*
/Data/creditcard.csv
